In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [115]:
data=pd.read_csv('contests.csv', encoding='latin-1')

In [116]:
data.head()

,userid,rank-type,contest1,contest2,contest3,contest4,contest5,contest6,contest7,contest8,contest9,contest10
0,3143927301,Candidate Master,2078,2055,2115,2047.0,2024.0,2010.0,1953.0,1936.0,2042.0,2045.0
1,1876577621,Master,2194,2114,2152,2179.0,2211.0,2154.0,2170.0,2141.0,2157.0,2209.0
2,6397741793,Master,2120,2206,2147,2234.0,2294.0,2090.0,2089.0,2072.0,2085.0,2114.0
3,3090123616,Master,2224,2222,2166,2116.0,2029.0,2113.0,2104.0,2096.0,2115.0,2163.0
4,9564162806,Master,2128,2120,2072,2018.0,1963.0,2039.0,1932.0,1963.0,1960.0,1886.0

In [117]:
data.shape

(1423, 12)

In [118]:
data.isnull().sum()

userid         0
rank-type      0
contest1       0
contest2       0
contest3       0
contest4       1
contest5      19
contest6      49
contest7      80
contest8     120
contest9     144
contest10    171
dtype: int64

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1423 entries, 0 to 1422
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userid     1423 non-null   int64
 1   rank-type  1423 non-null   object
 2   contest1   1423 non-null   int64
 3   contest2   1423 non-null   int64
 4   contest3   1423 non-null   int64
 5   contest4   1422 non-null   float64
 6   contest5   1404 non-null   float64
 7   contest6   1374 non-null   float64
 8   contest7   1343 non-null   float64
 9   contest8   1303 non-null   float64
 10  contest9   1279 non-null   float64
 11  contest10  1252 non-null   float64
dtypes: float64(7), int64(4), object(1)
memory usage: 133.5+ KB

In [ ]:
data['contest4'].median()

In [120]:
data['contest4'].fillna(data['contest4'].median(), inplace=True)
data['contest5'].fillna(data['contest5'].median(), inplace=True)
data['contest6'].fillna(data['contest6'].median(), inplace=True)
data['contest7'].fillna(data['contest7'].median(), inplace=True)
data['contest8'].fillna(data['contest8'].median(), inplace=True)
data['contest9'].fillna(data['contest9'].median(), inplace=True)
data['contest10'].fillna(data['contest10'].median(), inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest4'].fillna(data['contest4'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest5'].fillna(data['contest5'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest6'].fillna(data['contest6'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest7'].fillna(data['contest7'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest8'].fillna(data['contest8'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest9'].fillna(data['contest9'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_12912\2452212917.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contest10'].fillna(data['contest10'].median(), inplace=True)

In [121]:
data.isnull().sum()

userid       0
rank-type    0
contest1     0
contest2     0
contest3     0
contest4     0
contest5     0
contest6     0
contest7     0
contest8     0
contest9     0
contest10    0
dtype: int64